In [1]:
import pandas as pd
import numpy as np
import csv 
import os 
import re

pd.set_option("display.max_rows",101)
pd.set_option("display.max_columns",101)
pd.set_option("display.max_seq_items",500)

In [2]:
CODEFILE = './nhgis0011_ds76_1940_tract_codebook.txt'
DATAFILE = './nhgis0011_ds76_1940_tract.csv'
OUTPUTFILE = './1940s_full.csv'

In [3]:
f = open(CODEFILE, 'r')

# keep all lines that are not whitespace
lines = [line for line in f.readlines() if not line is ""]

In [4]:
# regex to save lines that start with #.,  "NHGIS code:"
tab = []
code = []
mini_code = {}

for line in lines:
    if re.match('[0-9]+', line):
        temp = re.sub('[0-9]*\. ', '', line)
        temp = re.sub(' ', '_', temp)
        tab.append(temp[:-1])
    if re.match('NHGIS code:', line):
        code.append(line[-4:-1])
    if re.match('.*[0-9]{3}:', line):
        preproc = re.sub(' ', '', line)
        preproc = re.sub('\n', '', preproc)
        c, n = preproc.split(":")
        threeletter = c[:3]
        store = mini_code.get(threeletter, {})
        store[c] = n
        mini_code[threeletter] = store

In [5]:
# construct a dictionary of code to table
code_dict = {}

for i, c in enumerate(code):
    code_dict[c] = tab[i]

In [6]:
# convert the pd cols from NHGIS names
data = pd.read_csv(DATAFILE)

# only keep IL
working_df = data[(data.STATE == 'Illinois') & (data.COUNTY == 'Cook')]

In [7]:
new_cols = []
for colname in working_df.columns:
    if colname[:3] in code_dict.keys():
        sub_cat_dict = mini_code.get(colname[:3], {}) 
        subcat = sub_cat_dict[colname]
        keep = code_dict[colname[:3]]+"_"+ subcat
    else: 
        keep = colname
    new_cols.append(keep)

In [8]:
working_df.columns = new_cols

In [9]:
working_df.columns

Index(['GISJOIN', 'YEAR', 'STATE', 'STATEA', 'COUNTY', 'COUNTYA', 'PRETRACTA',
       'TRACTA', 'POSTTRCTA', 'AREANAME', 'Population_Total',
       'Population_by_Race_White', 'Population_by_Race_Nonwhite',
       'Negro_Population_Total', 'Occupied_Dwelling_Units_Total',
       'Total_Occupied_Dwelling_Units_Total', 'Total_Dwelling_Units_Total',
       'Occupied_Dwelling_Units_by_Tenure_Owneroccupied',
       'Occupied_Dwelling_Units_by_Tenure_Tenantoccupied',
       'Occupied_Dwelling_Units_by_Tenure_by_Race_Owneroccupied>>White',
       'Occupied_Dwelling_Units_by_Tenure_by_Race_Owneroccupied>>Negro',
       'Occupied_Dwelling_Units_by_Tenure_by_Race_Owneroccupied>>Othernon-white',
       'Occupied_Dwelling_Units_by_Tenure_by_Race_Tenantoccupied>>White',
       'Occupied_Dwelling_Units_by_Tenure_by_Race_Tenantoccupied>>Negro',
       'Occupied_Dwelling_Units_by_Tenure_by_Race_Tenantoccupied>>Othernon-white',
       'Vacant_Dwelling_Units_by_Market_Status_Forsaleorrent',
       'Vacant_Dwelling_Units_by_Market_Status_Notforsaleorrent',
       'Dwelling_Units_by_Type_of_Structure_One-familydetached',
       'Dwelling_Units_by_Type_of_Structure_One-familyattached',
       'Dwelling_Units_by_Type_of_Structure_Two-familysidebyside',
       'Dwelling_Units_by_Type_of_Structure_Twofamilyother',
       'Dwelling_Units_by_Type_of_Structure_Three-family',
       'Dwelling_Units_by_Type_of_Structure_Four-family',
       'Dwelling_Units_by_Type_of_Structure_One--four-familywithbusiness',
       'Dwelling_Units_by_Type_of_Structure_Five--nine-family',
       'Dwelling_Units_by_Type_of_Structure_Ten--nineteen-family',
       'Dwelling_Units_by_Type_of_Structure_Twenty--family+',
       'Dwelling_Units_by_Type_of_Structure_Other',
       'Occupied_Dwelling_Units_by_Number_of_Occupants_1-person',
       'Occupied_Dwelling_Units_by_Number_of_Occupants_2-persons',
       'Occupied_Dwelling_Units_by_Number_of_Occupants_3-persons',
       'Occupied_Dwelling_Units_by_Number_of_Occupants_4-persons',
       'Occupied_Dwelling_Units_by_Number_of_Occupants_5-persons',
       'Occupied_Dwelling_Units_by_Number_of_Occupants_6-persons',
       'Occupied_Dwelling_Units_by_Number_of_Occupants_7-persons',
       'Occupied_Dwelling_Units_by_Number_of_Occupants_8-persons',
       'Occupied_Dwelling_Units_by_Number_of_Occupants_9-persons',
       'Occupied_Dwelling_Units_by_Number_of_Occupants_10-persons',
       'Occupied_Dwelling_Units_by_Number_of_Occupants_11-persons',
       'Number_of_Homes_for_Which_Value_was_Reported_Total',
       'Homes_for_Which_Value_was_Reported_by_Reported_Value_Under$500',
       'Homes_for_Which_Value_was_Reported_by_Reported_Value_$500-$699',
       'Homes_for_Which_Value_was_Reported_by_Reported_Value_$700-$999',
       'Homes_for_Which_Value_was_Reported_by_Reported_Value_$1000-$1499',
       'Homes_for_Which_Value_was_Reported_by_Reported_Value_$1500-$1999',
       'Homes_for_Which_Value_was_Reported_by_Reported_Value_$2000-$2499',
       'Homes_for_Which_Value_was_Reported_by_Reported_Value_$2500-$2999',
       'Homes_for_Which_Value_was_Reported_by_Reported_Value_$3000-$3999',
       'Homes_for_Which_Value_was_Reported_by_Reported_Value_$4000-$4999',
       'Homes_for_Which_Value_was_Reported_by_Reported_Value_$5000-$5999',
       'Homes_for_Which_Value_was_Reported_by_Reported_Value_$6000-$7499',
       'Homes_for_Which_Value_was_Reported_by_Reported_Value_$7500-$9999',
       'Homes_for_Which_Value_was_Reported_by_Reported_Value_$10000-$14999',
       'Homes_for_Which_Value_was_Reported_by_Reported_Value_$15000-$19999',
       'Homes_for_Which_Value_was_Reported_by_Reported_Value_$20000+',
       'Median_Value_of_Homes_for_Which_Value_was_Reported_Medianvalue',
       'Homes_that_Reported_Contract_Monthly_Rent_Total',
       'Homes_by_Contract_Monthly_Rent_Under$5',
       'Homes_by_Contract_Monthly_Rent_$5-$6',
       'Homes_by_Contract_Monthly_Rent_$7-$9',
       'Homes_by_Contract_Monthly_Rent_$10-$14',
       'Homes_by_Contract_Monthly_Rent_$15-$19',
       'Homes_by_Contract_Monthly_Rent_$20-$24',
       'Homes_by_Contract_Monthly_Rent_$25-$29',
       'Homes_by_Contract_Monthly_Rent_$30-$39',
       'Homes_by_Contract_Monthly_Rent_$40-$49',
       'Homes_by_Contract_Monthly_Rent_$50-$59',
       'Homes_by_Contract_Monthly_Rent_$60-$74',
       'Homes_by_Contract_Monthly_Rent_$75-$99',
       'Homes_by_Contract_Monthly_Rent_$100-$149',
       'Homes_by_Contract_Monthly_Rent_$150-$199',
       'Homes_by_Contract_Monthly_Rent_$200+',
       'Median_Contract_Monthly_Rent_Mediancontractmonthlyrent',
       'Total_Homes_that_Reported_Gross_Monthly_Rent_Total',
       'Homes_by_Gross_Monthly_Rent_Under$5',
       'Homes_by_Gross_Monthly_Rent_$5-$6',
       'Homes_by_Gross_Monthly_Rent_$7-$9',
       'Homes_by_Gross_Monthly_Rent_$10-$14',
       'Homes_by_Gross_Monthly_Rent_$15-$19',
       'Homes_by_Gross_Monthly_Rent_$20-$24',
       'Homes_by_Gross_Monthly_Rent_$25-$29',
       'Homes_by_Gross_Monthly_Rent_$30-$39',
       'Homes_by_Gross_Monthly_Rent_$40-$49',
       'Homes_by_Gross_Monthly_Rent_$50-$59',
       'Homes_by_Gross_Monthly_Rent_$60-$74',
       'Homes_by_Gross_Monthly_Rent_$75-$99',
       'Homes_by_Gross_Monthly_Rent_$100+',
       'Median_Gross_Monthly_Rent_Mediangrossmonthlyrent',
       'Dwelling_Units_by_State_of_Repair_Notneedingmajorrepairs',
       'Dwelling_Units_by_State_of_Repair_Needingmajorrepairs',
       'Dwelling_Units_by_State_of_Repair_Notreporting'],
      dtype='object')

In [15]:
final_df = working_df[['GISJOIN', 'YEAR', 'TRACTA', 'COUNTY', 'STATE']]

# race
final_df = final_df.assign(Totalpop = working_df['Population_Total'])
final_df = final_df.assign(Pwhite = working_df['Population_by_Race_White']/final_df.Totalpop)
final_df = final_df.assign(Pblack = working_df['Negro_Population_Total']/final_df.Totalpop)
final_df = final_df.assign(Pnonwhite = working_df['Population_by_Race_Nonwhite']/final_df.Totalpop)

# units
final_df = final_df.assign(Totalunits = working_df['Total_Dwelling_Units_Total'])

value = np.where(working_df[
    'Median_Value_of_Homes_for_Which_Value_was_Reported_Medianvalue'] == 0, 'NaN', 
                working_df['Median_Value_of_Homes_for_Which_Value_was_Reported_Medianvalue'])
final_df = final_df.assign(Medianhomeval = value)
final_df = final_df.assign(Poccupied = working_df['Total_Occupied_Dwelling_Units_Total'
                                                 ]/final_df.Totalunits)
final_df = final_df.assign(Pvacant = 1 - final_df.Poccupied)

Allowner = working_df['Occupied_Dwelling_Units_by_Tenure_by_Race_Owneroccupied>>Negro'] +\
working_df['Occupied_Dwelling_Units_by_Tenure_by_Race_Owneroccupied>>Othernon-white'] +\
working_df['Occupied_Dwelling_Units_by_Tenure_by_Race_Owneroccupied>>White']
final_df = final_df.assign(Powner = Allowner / working_df['Total_Occupied_Dwelling_Units_Total'
                                                 ]) #check not just of non-vacant

Allrenter = working_df['Occupied_Dwelling_Units_by_Tenure_by_Race_Tenantoccupied>>Negro'] +\
working_df['Occupied_Dwelling_Units_by_Tenure_by_Race_Tenantoccupied>>Othernon-white'] +\
working_df['Occupied_Dwelling_Units_by_Tenure_by_Race_Tenantoccupied>>White']
final_df = final_df.assign(Prented = Allrenter /working_df['Total_Occupied_Dwelling_Units_Total'
                                                 ])

final_df.head()

,GISJOIN,YEAR,TRACTA,COUNTY,STATE,Totalpop,Pwhite,Pblack,Pnonwhite,Totalunits,Medianhomeval,Poccupied,Pvacant,Powner,Prented
1316,G17003100001,1940,1,Cook,Illinois,4606,0.998697,0.000868,0.001303,1555,5630,0.936334,0.063666,0.091346,0.908654
1317,G17003100002,1940,2,Cook,Illinois,1619,0.998765,0.001235,0.001235,467,NaN,0.927195,0.072805,0.170901,0.829099
1318,G17003100003,1940,3,Cook,Illinois,7391,0.997159,0.002841,0.002841,2470,6971,0.940891,0.059109,0.093804,0.906196
1319,G17003100004,1940,4,Cook,Illinois,8901,0.996180,0.002135,0.003820,3001,4922,0.945018,0.054982,0.111072,0.888928
1320,G17003100005,1940,5,Cook,Illinois,16447,0.996656,0.002371,0.003344,5662,5978,0.916284,0.083716,0.057826,0.942174

In [17]:
column_names = ['GISJOIN','YEAR', 'TRACTA', 'COUNTY','STATE', 'Total Pop', '% White', 
               '% Black', '% Other races', 'Total Units', 'Median', '% Occupied', 
               '% Vacant', '% Owner Occupied', '% Renter']

final_df.to_csv(path_or_buf=OUTPUTFILE, index=False, header=column_names)